<<ASSIGNEE>>,

Please review Invoice #<<INVOICE NUMBER>> in QuickBooks.  If you approve, please move to Billing and reassign to Heather.  Otherwise, please reassign the ticket back to me.

Thank you,
<<FROM>>